---
name: Tests
on:
  push:
  pull_request:
    branches: [master]
jobs:
  test-python:
    strategy:
      fail-fast: false
      matrix:
        python:
          - '2.7'
          - '3.5'
          - '3.6'
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10.0-beta.4'
        os:
          - ubuntu-latest
          - macos-latest
    name: Python ${{ matrix.python }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    env:
      PYTHON_VERSION: ${{ matrix.python }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Determine environment information
        run: |
          set -ex

          uname -a
          python --version
      - name: Install tox
        run: |
          set -ex

          pip install --user tox
          echo "${HOME?}/.local/bin" >>"${GITHUB_PATH?}"
      - name: Run tests
        shell: bash
        run: |
          set -exo pipefail

          TOXENV=py$(cut -d . -f 1-2 <<<"${PYTHON_VERSION?}" | tr -d .)
          export TOXENV

          tox
      - name: Archive test coverage report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report-${{ matrix.python }}-${{ matrix.os }}
          path: htmlcov
          if-no-files-found: error
